<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="MyHandler" verb="*" path="*.dbg" type="Willowsoft.SampleWebApp.TimHttpHandler, Willowsoft.SampleWebApp"/>
    </handlers>
    <modules>
        <add name="MyModule" type="Willowsoft.SampleWebApp.TimHttpModule, Willowsoft.SampleWebApp"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>